<div class="container">
    <div class="row">
        <h1 class="text-center">EDUCACION</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h2>Full Stack developer</h2>
                    <h4>Argentina Programa</h4>
                </li>
                <p>(2022)</p>
            </ul>
            <ul>
                <li>
                    <h2>Desarrollo de software</h2> -
                    <h4>Universidad Provincial De Administration, Tecnologia Y Oficios</h4>
                </li>
                <p>(2022)</p>
            </ul>
            <ul>
                <li>
                    <h2>Desarrollo web </h2> -
                    <h4>Coder House</h4>
                </li>
                <p>(2021)</p>
            </ul>
            <ul>
                <li>
                    <h2>Técnico en informática profesional y personal</h2> -
                    <h4>Escuela De Educación Técnica Nro. 3100 Republica De La India</h4>
                </li>
                <p>(2020)</p>
            </ul>
        </div>

    </div>
</div>