<div class="container">
    <div class="row text-center">
        <h1 class="title1">Hard & Soft skills</h1>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="90"
                [radius]="100"
                [showUnits]="false"
                [title]="'HTML'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showImage]="true"
                [imageSrc]="'../../../assets/html.png'"
                [imageHeight]="90"
                [imageWidth]="90"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="70"
                [radius]="100"
                [showUnits]="false"
                [title]="'HTML'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showImage]="true"
                [imageSrc]="'../../../assets/CSS.png'"
                [imageHeight]="90"
                [imageWidth]="90"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="80"
                [radius]="100"
                [showUnits]="false"
                [title]="'HTML'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showImage]="true"
                [imageSrc]="'../../../assets/js.png'"
                [imageHeight]="90"
                [imageWidth]="90"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="40"
                [radius]="100"
                [showUnits]="false"
                [title]="'HTML'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showImage]="true"
                [imageSrc]="'../../../assets/Angular.png'"
                [imageHeight]="90"
                [imageWidth]="90"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="90"
                [radius]="100"
                [showUnits]="false"
                [title]="'HTML'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showImage]="true"
                [imageSrc]="'../../../assets/Python.png'"
                [imageHeight]="90"
                [imageWidth]="90"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="80"
                [radius]="100"
                [showUnits]="false"
                [title]="'HTML'"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [showImage]="true"
                [imageSrc]="'../../../assets/Django.png'"
                [imageHeight]="90"
                [imageWidth]="90"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
    </div>
</div>