<div class="container">
    <div class="row">
        <h1 class="text-center">EXPERIENCIA LABORAL</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h2>Tutor</h2>
                    <h4>Academia CIMNE-IBER</h4>
                    <p>(2023)</p>
                </li>
                <p>- Grabar las clases y subirlas a la plataforma. -Tomar asistencia. -Seguimientos de Alumnos. -Difusión de novedades por plataforma o medios de comunicación. - Responder consultas</p>
            </ul>
            <ul>
                <li>
                    <h1>Servicio Tecnico</h1>
                    <h4>Emprendimiento Propio</h4>
                    <p>(2020)</p>
                </li>
                <p>- Reinstalación de sistemas operativos. optimización de windows. limpieza de
                    componentes informáticos. instalación de juegos y programas. formateo de discos
                    duros..</p>
            </ul>
        </div>

    </div>
</div>