<div class="container">
    <div class="row">
        <h1 class="text-center">Proyectos realizados</h1>
        <div class="contenedor mt-3">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>To do List</h1>
                <p>Organiza tu trabajo y tu vida, por fin. Concéntrate, organízate y trae calma a tu vida con To Do List. La aplicación de listas de pendientes y gestión de tarea. Añade tus tareas. Organiza tu vida. Puedes añadir, editar y eliminar tareas. To do list te da la tranquilidad de saber que todo está debidamente organizado y registrado para que puedas progresar en las cosas que son realmente importantes para ti.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2 mb-4">
                <img class="img-fluid img-proyecto" src="../../../assets/proyectoTask.png" alt="imagenProyecto">
            </div>
        </div>
        <div class="contenedor mt-3">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Digital Clock</h1>
                <p>Este es un reloj grande que muestra la hora en pantalla completa. Esta aplicación en línea se puede utilizar para eventos, juegos, partidos, lecciones en el aula, discursos y debates, y más. En el modo de pantalla completa, la pantalla no se apagará y los anuncios se ocultarán. Se puede cambiar a una variedad de estilos, que incluyen reloj con tapa, reloj LED, reloj digital y reloj lindo. Detectará su región y establecerá automáticamente la hora en 24 horas o 12 horas (AM/PM), y esta configuración se puede cambiar. Soporta modo oscuro. La fecha se puede mostrar u ocultar.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img class="img-fluid img-proyecto" src="../../../assets/proyectoDigitalClock.png" alt="imagenProyecto">
            </div>
        </div>
        <div class="contenedor mt-3">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Store NFT</h1>
                <p>Tienda online de NFT. Construido con JavaScript y aplicando su framework Bootstrap.</p>
                <p>Los NFT o token no fungible es un tipo especial de token criptográfico que representa algo único y por lo tanto no son mutuamente intercambiables. Esto contrasta con las criptomonedas y muchos tókenes de red o de utilidad que son fungibles por naturaleza</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img class="img-fluid img-proyecto" src="../../../assets/proyectoEcommerceNTFs.png" alt="imagenProyecto">
            </div>
        </div>
    </div>
</div>