<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> <!--ocupa siempre las 2 primeras columnas de la izquierda-->
                <img id='FotoPerfil' class="img-fliud" src="../../../assets/fotoPerfil.jpg" alt="perfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre" class="fs-4"> {{persona.nombre}} {{persona.apellido}}</p>
            <p id="">Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Objetivo Laboral</h1>
                <p>Busco un puesto como programador en una
                    empresa que valore el aprendizaje continuo y el
                    desarrollo de habilidades para poder seguir
                    creciendo profesionalmente, mejorar en el
                    desarrollo de soluciones web y mejorar la
                    experiencia del usuario.</p>
            </span>
        </div>
    </div>
</div>