.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    margin-right: 0.5em;
}

#logoAP{
    width: 150px;
}

img{
    width: 50px;
    border-radius: 40px;
}

.btn{
    border-width: medium;
}

/* Vista Celular */
@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .redes img{
        margin: 0.5em;
        border-radius: 30px;
    }
}
